.submitButton{
    margin-top: 20px;
    width: 100px;
}

.formWrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 5px;
    width: 230px;
    height: 100%;
    padding: 20px;
}

.nameThumb{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.numberThumb{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    width: 80%;
}

button{
    background-color: #fff;
    border: 1px solid darkgray;
    border-radius: 5px;
}